
/* MAIN STYLES */

body {
  background-color: #f8f6f4;
  font-family: "Menlo", sans-serif;
}

.caption, .side-note {
  background-color: lightgray;
  color: gray;
}

.buffer-needed {
  margin-top: 50px;
}

.extra-buffer-needed {
  margin-top: 100px;
}

.caption .tiny-header {
  font-variant: small-caps;
}

.caption p {
  margin: 0px;
}

a {
  text-decoration: none;
}

a:hover {
  background-color: #e2e2e2;
  text-decoration: none;
}

.caption a {
  color: gray;
}

/* MAIN VIZ: HEAT MAP */


/* SIDE VIZ 1: SCATTERPLOT */

.storycircle {
  stroke: "orange";
  stroke-width: 0.5;
  fill: "#bcbddc";
}


/* SIDE VIZ 2: LINE CHART */

