
/* MAIN STYLES */

body {
  background-color: #f8f6f4;
  font-family: "Menlo", sans-serif;
}

.caption, .side-note {
  background-color: lightgray;
  color: gray;
}

.buffer-needed {
  margin-top: 50px;
}

.padding-needed {
  padding: 30px;
  margin-bottom: 50px;
}

.caption .tiny-header {
  font-variant: small-caps;
}

.caption p {
  margin: 0px;
}

a {
  text-decoration: none;
}

a:hover {
  background-color: #e2e2e2;
  text-decoration: none;
}

.caption a {
  color: gray;
}

.fa-refresh:hover {
  cursor: pointer;
}

.aside {
  font-size: 12px;
}

.tiny {
  font-size: 12px;
  color: gray;
}

/* LINE CHART */

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  stroke-width: 0.25;
  shape-rendering: crispEdges;
}


.line {
  fill: none;
}

#allStories {
  stroke-width: 0.25px;
  stroke: gray;
}

#avgYearLine {
  stroke-width: 3px;
  stroke: #894b00;
}

.linecircle {
  stroke: #894b00;
  stroke-width: 0.5;
  fill: white;
}

.linecircle:hover {
  cursor: pointer;
}

.linecircle.highlighted {
  stroke-width: 1;
  stroke: red;
  fill: red;
}

.linecircle.bookmarked {
  fill: #bac7ff;
  stroke: #bac7ff;;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

.extratiny {
  font-size: 9px;
  fill: #894b00;
}



/* HEAT BUBBLES */

.maincircle {
  stroke: #894b00;
  opacity: 0.8;
}

.maincircle:hover {
  cursor: pointer;
}

.maincircle.highlighted {
 stroke-width: 3;
 stroke: red;
}

.maincircle.bookmarked {
  fill: #bac7ff;
  stroke: #00187f;;
}

.maincircle.grayed {
  stroke: gray;
  fill: #dbdbdb;
}

.legendcircle {
  stroke: gray;
  stroke: 1px;
  fill: none;
}

.strokecircle {
  stroke: gray;
  fill: none;
}

.legend-tiny {
  font-size: 10px;
  fill: gray;
}





