
/* MAIN STYLES */

body {
  background-color: #f8f6f4;
  font-family: "Menlo", sans-serif;
}

.caption, .side-note {
  background-color: lightgray;
  color: gray;
}

.buffer-needed {
  margin-top: 50px;
}

.extra-buffer-needed {
  margin-top: 100px;
}

.caption .tiny-header {
  font-variant: small-caps;
}

.caption p {
  margin: 0px;
}

a {
  text-decoration: none;
}

a:hover {
  background-color: #e2e2e2;
  text-decoration: none;
}

.caption a {
  color: gray;
}

.fa-refresh:hover {
  cursor: pointer;
}

.aside {
  font-size: 12px;
}

.tiny {
  font-size: 12px;
  color: gray;
}


/* MAIN VIZ: HEAT MAP */

.maincircle {
  stroke: #894b00;
  stroke-width: 0.5;
  opacity: 0.8;
}

.maincircle:hover {
  cursor: pointer;
}

.maincircle.highlighted {
 stroke-width: 3;
 stroke: red;
}

.maincircle.bookmarked {
  fill: #bac7ff;
  stroke: #00187f;;
}

.maincircle.grayed {
  stroke: gray;
  fill: #dbdbdb;
}

/* SIDE VIZ 1: SCATTERPLOT */

.storycircle {
  stroke: #894b00;
  stroke-width: 0.5;
  fill: white;
}

.storycircle:hover {
  cursor: pointer;
}

.axis {
  font-size: 11px;
}

#scatterplot .axis:hover {
  cursor: pointer;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  stroke-width: 0.25;
  shape-rendering: crispEdges;
}

.storycircle.highlighted {
  stroke-width: 1;
  stroke: red;
  fill: red;
}

.storycircle.bookmarked {
  fill: #bac7ff;
  stroke: #bac7ff;;
}


/* SIDE VIZ 2: LINE CHART */

.line {
  fill: none;
  stroke-width: 0.5px;
  stroke: #ffeda0;
}

.linecircle {
  stroke: #894b00;
  stroke-width: 0.5;
  fill: white;
}

.linecircle:hover {
  cursor: pointer;
}

.linecircle.highlighted {
  stroke-width: 1;
  stroke: red;
  fill: red;
}

.linecircle.bookmarked {
  fill: #bac7ff;
  stroke: #bac7ff;;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}



